# App
PORT=8080
TIMEOUT=10s

# Database
DSN=postgres://user:password@localhost:5432/db_name
POSTGRES_PORT=5432
POSTGRES_DB=db_name
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# Migrations
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://user:password@localhost:5432/db_name
GOOSE_MIGRATION_DIR=./migrations
