# Main
BASE_URL=http://localhost
PROD_URL=https://website.com

# Reverse proxy
PUBLIC_HTTP_PORT=80
PUBLIC_HTTPS_PORT=443

# App
SERVER_PORT=8080
TIMEOUT_READ=10s
TIMEOUT_WRITE=10s
TIMEOUT_IDLE=60s
TIMEOUT_SHUTDOWN=10s

# Postgres
DSN=postgres://user_name:password@postgres:5432/db_name
DSN_LOCAL=postgres://user_name:password@localhost:5432/db_name
POSTGRES_PORT=5432
POSTGRES_DB=db_name
POSTGRES_USER=user_name
POSTGRES_PASSWORD=password

# Redis
REDIS_ADDR=redis:6379
REDIS_PASSWORD=password

# Migrations
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://user_name:password@localhost:5432/db_name
GOOSE_MIGRATION_DIR=./migrations

# Web
WEB_ADMIN_EMAIL=mail@website.com
WEB_ADMIN_PASSWORD=password
WEB_ADMIN_NAME=name
WEB_LOCALHOST_URL=http://localhost:5173

# JWT
JWT_SECRET=secret
JWT_NAME=name
JWT_PATH=path
JWT_SECURE=true
JWT_TTL=48h
JWT_REFRESH=12h
