# App
PORT=8080
TIMEOUT_READ=10s
TIMEOUT_WRITE=10s
TIMEOUT_IDLE=60s
TIMEOUT_SHUTDOWN=10s

# Database
DSN=postgres://user_name:password@postgres:5432/db_name
DSN_LOCAL=postgres://user_name:password@localhost:5432/db_name
POSTGRES_PORT=5432
POSTGRES_DB=db_name
POSTGRES_USER=user_name
POSTGRES_PASSWORD=password

# Migrations
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://user_name:password@localhost:5432/db_name
GOOSE_MIGRATION_DIR=./migrations

# Web
WEB_LOCALHOST=http://localhost:5173
